@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* { 
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: hsl(186, 14%, 43%);
}

a:hover {
	color: #da9a35;
}

body {
	margin: 10px;
	text-align: center;
	background-color:#B5F7BD;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
}

input {
	width: 100% !important;
}

.main {
	width: 100%;
	text-align: center;
}

.logo {
	margin: 50px 0px;
}

.calculadora {
	display: flex;
	width: 80%;
	max-width: 700px;
	flex-wrap: wrap;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	padding: 15px;
}

.input {
	width: 50%;
	padding: 15px 30px 15px 15px;
	color: hsl(184, 14%, 56%);
}

.resultado {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	background-color:#3C6B3D;
	border-radius: 15px;
	padding: 15px;
}

.entrada {
	text-align: left;
	color: hsl(186, 14%, 43%);
	margin-bottom: 10px;
	font-size: 14px;
}

.input-conta,
.qtd-pessoas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: hsl(189, 41%, 97%);
	border-radius: 5px;
	border: 1px solid hsl(189, 41%, 97%);
}

.input-conta:hover,
.qtd-pessoas:hover,
.custom-input:hover,
.input-conta:active,
.qtd-pessoas:active,
.custom-input:active {
	border: 1px solid #da9a35;
}

.gorjeta-total,
.total-gorjeta {
	display: flex;
	justify-content: space-between;
	cursor: default;
}

.conta,
#botoes {
	margin-bottom: 30px;
}

.icone-dolar,
.icone-pessoas {
	width: fit-content;
	text-align: left;
	padding: 3px 10px;
	align-items: center;
}

.total-conta>input,
.valor-pessoa>input {
	border: none;
	height: 100%;
	text-align: right;
	padding: 3px 10px;
	background-color: transparent;
	font-family: 'Space Mono', monospace;
	font-size: 22px;
	font-weight: 700;
	color: hsl(186, 14%, 43%);
}

#digita ::placeholder {
	height: 50px;

}


.btn-porc {
	background-color: hsl(183, 100%, 15%);
}

#digita {
	background-color: hsl(189, 41%, 97%);
	width: 300px;
}

button,
.custom-input {
	cursor: pointer;
	width: 100%;
	padding: 3px;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 23px;
	border-radius: 5px;
	border: none;
	color: white;
}

span{
	font-size: 0.8em;
}

button:hover {
	background-color: #da9a35;
	color: white;
}

.custom-input {
	width: 100%;
	text-align: right;
	color: hsl(186, 14%, 43%);
	background-color: hsl(189, 41%, 97%);
	border-radius: 5px;
	border: 1px solid hsl(189, 41%, 97%)
}

::placeholder {
	color: hsl(184, 14%, 56%);
	position: absolute;
	
}

input:focus {
	outline: none !important;
	border-radius: 5px;
}

.erro {
	display: none;
	color: #da9a35;
	font-size: 11px;
	float: right;
}

.total-gorjeta,
.gorjeta-total {
	text-align: left;
	
	margin: 20px 10px;
}

.gorjeta-total-valor,
.total-gorjeta-valor {
	color: hsl(172, 67%, 45%);
	font-size: 36px;
}

.resultado-box-title {
	font-size: 14px;
	color: white;
}

.resultado-por-pessoa {
	font-size: 12px;
	color: hsl(184, 14%, 56%);
}

.btn-reset {
	width: 90%;
	text-transform: upporcase;
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	padding: 5px;
}

.f-left {
	float: left;
}


.attribution {
	display: block;
	margin-top: 20px;
	font-size: 10px;
	font-weight: 400;
	color: hsl(184, 14%, 56%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=numero] {
	-moz-appearance: textfield;
}


@media only screen and (max-width: 820px) {

	.calculadora {
		width: 60%;
	}

	.input,
	.resultado {
		width: 100%;
	}

	.input {
		padding: 15px;
		margin-bottom: 15px;
	}

}

@media only screen and (max-width: 640px) {

	.calculadora {
		width: 80%;
	}
}

@media only screen and (max-width: 420px) {

	.main {
		margin: 0px;
	}

	.calculadora {
		width: 100%;
		min-width: 280px;
		margin: 0px;
	}

	

}